<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        This is a primary alert-check it out!
    </div>
    <div class="dropdown my-dropdown">
        <button class="btn btn-secondary dropdown-toggle" 
            type="button" 
            id="dropDownMenuButton"
            data-toggle="dropdown"
            aria-labelledby="dropDownMenuButton"
        >
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another Action</a>
            <a href="#" class="dropdown-item">Something else here</a>
        </div>
    </div>
</body>
</html>